{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MIT
}}

{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<ul>
  <li><LinkTo @route='index'>Index</LinkTo></li>
  <li>
    <LinkTo @route='a'>Route A</LinkTo>
    <ul>
      <li><LinkTo @route='a.a1'>Route A1</LinkTo></li>
      <li><LinkTo @route='a.a2'>Route A2</LinkTo></li>
    </ul>
  </li>
  <li><LinkTo @route='b'>Route B</LinkTo></li>
</ul>

{{outlet}}
